html {
  padding: 0px;
  margin: 0px;
}

body {
  background: white;
  padding: 0px;
  margin: 0px;
}

header {
  margin: 0px 10px 0px 10px;
  background: #0dafaf;
}
header h1 {
  text-align: center;
  color: #eee;
  padding: 10px 0px 10px 0px;
  margin: 0;
}

.below-nav {
  margin: 0px 10px 20px 10px;
  background: #0dafaf;
  height: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav {
  margin:     0px 0px 0px 0px;
  padding:    0% 20% 0% 5%;
  background: #607d8b;
}
nav ul {
  margin:  0;
  padding: 0;
}
nav li {
  position: relative;
  list-style: none;
  display: inline-block;
  width:  16%;
  margin: 3px 0px 3px 0px;
  text-align:  center;
  font-weight: bold;
  line-height: 200%;
}
nav li a {
  display: block;
  font-size: 10pt;

  border-left: 1px dotted #fff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
nav li a.home {
  border-left: 0px;
}
nav li a:hover {
  background: #c1c1c1 ;
  color: #007275;
}
nav a.current {
  background-color: #fff;
  color: #0dafaf;
}
nav a.current:hover {
  background-color: #d1d1d1 !important;
}

nav li ul li a {
  padding-left: 5%;
}

main {
  padding: 10px;
}
main p {
  width: 60%;
  line-height: 140%;
}
p .team-member {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  border: 1px solid #555;
}
table td {
  padding: 3px 6px 3px 6px;
  border: 1px solid #555;
}
table th {
  padding: 6px;
  background: #3c3c3c;
  color: #fff;
}

a.button {
  color: #fff;
  background-color: #808080;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
  text-decoration: none;
  font-family: arial;
  font-size: 6pt;
  font-variant: small-caps;
  vertical-align: middle;
}

legend {
  font-weight: bold;
}
fieldset {
  margin-bottom: 10px;
}
label {
  margin: 2px 5px 2px 2px;
}
input {
  margin: 2px 10px 2px 2px;
}
select {
  margin: 2px 10px 2px 2px;
}


/* Adapted heavily from Bootsnip: https://bootsnipp.com/snippets/featured/tall-footer-with-gradient-image */

/* Footer styles
-------------------------------------------------- */

footer {
  position: relative;
  padding: 5px;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-color:#607d8b;
}



/* Custom footer CSS
-------------------------------------------------- */

.container {
  width: auto;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
  margin: 10px;
}

.team-member {
  position: relative;
  display: flex;
  float: left;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  background: #0dafaf;
}

.img-circle {
  border-radius: 20px;
  width: 70px;
  border: 3px solid grey;
}
